.root {
  @include font-info;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.menuButton {
  cursor: default;
  height: 40px;
  padding-left: 15px;
  font-weight: 700;
}

.content {
  display: none;

  a {
    padding: 0 5px;
  }
}

.root {
  &:hover,
  &:focus,
  &:focus-within {
    .content {
      display: flex;

      @media all and (max-width: $medium-content-width) {
        flex-direction: column;
        position: absolute;
        background-color: $grey-bg;
        border: 1px solid black;
        border-right-width: 2px;
        border-bottom-width: 2px;
        top: 100%;
        margin-top: -#{calc($gutter / 2)};
        right: 0;
        padding: 10px;
      }
    }
  }
}
