html {
  @include set-container-width($max-content-width);

  @media all and (max-width: $max-content-width) {
    @include set-container-width($large-content-width);
  }
  @media all and (max-width: $large-content-width) {
    @include set-container-width($medium-content-width);
  }
  @media all and (max-width: $medium-content-width) {
    @include set-container-width($small-content-width);
  }
}

.root {
  width: var(--container-width);
  margin: 0 auto;
  padding: $gutter;
}
