@import "./reset.scss";

body {
  line-height: 1.2rem;
  @include font-info;
  background-color: $grey-bg;
}

h1 {
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

p {
  margin: 0.6rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

button {
  &,
  &:active,
  &:focus {
    background: none;
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
  }
}

a {
  @include link-style {
    color: black;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: yellow;
  }
}
