@mixin set-container-width($content-width) {
  --container-width: #{$content-width - 4 * $gutter};
}

@mixin font-headings() {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  font-size: $font-small-caps;
  letter-spacing: 0.05rem;
}

@mixin font-info() {
  font-family: "Courier New", "Courier", "Liberation Mono", monospace;
  font-size: $font-regular;
}

@mixin font-serif() {
  font-family: "Times New Roman", "Times", "Garamond", "Georgia", serif;
  font-size: $font-regular;
}

@mixin font-logo() {
  @include font-serif;
  font-size: $font-large;
  font-weight: 400;
  font-style: italic;
}

@mixin link-style() {
  &,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
