// responsive
$max-content-width: 1440px;
$large-content-width: 960px;
$medium-content-width: 620px;
$small-content-width: 400px;

// colours
$yellow: #ffff00;
$grey-bg: #f0efef;

// layout
$gutter: 40px;

// typography
$font-small-caps: 10px;
$font-small: 12px;
$font-regular: 14px;
$font-large: 18px;
