.albumIndex {
  $padding: 10px;
  $cell-size: 100px;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;

  thead {
    @include font-headings;
  }

  tbody {
    @include font-info;

    tr {
      border-top: 1px solid;
      height: $cell-size + $padding * 2;

      &:last-child {
        border-bottom: 1px solid;
      }
    }

    td {
      padding-top: $padding;
      padding-bottom: $padding;

      &:not(:first-child) {
        border-left: 1px solid lightgrey;
      }
    }
  }

  tr {
    display: flex;
  }

  td {
    display: block;
    min-width: $cell-size;
    flex: 1 0;

    &:not(:first-child) {
      padding-left: $padding;
    }
    &:not(:last-child) {
      padding-right: $padding;
    }
  }

  td.reference_number {
    flex-grow: 1;
    min-width: 140px;
  }
  td.source {
    flex-grow: 2;
  }
  td.title {
    flex-grow: 2;
  }
  td.edition {
    flex-grow: 1;
  }
  td.image {
    flex-grow: 0;
    width: $cell-size;

    a:hover,
    a:focus {
      img {
        border-bottom: 5px solid $yellow;
      }
    }
  }

  @media all and (max-width: $max-content-width) {
    td.edition,
    td.form {
      display: none;
    }
  }

  @media all and (max-width: $large-content-width) {
    tbody tr {
      height: auto;
      min-height: 40px;
    }
    td.issued,
    td.image {
      display: none;
    }
  }

  @media all and (max-width: $medium-content-width) {
    tbody tr {
      height: 40px;
    }
    td.title {
      display: none;
    }
  }
}
