.root {
  margin: 0 auto;
  overflow: hidden;
}

.text {
  @include font-info;
  display: inline-block;
  width: 75px;
  padding-right: 5px;
  vertical-align: baseline;

  a {
    @include font-serif;
    @include link-style {
      color: black;
      text-decoration: none;
      font-size: $font-regular;
    }
    vertical-align: baseline;
    display: inline-block;
    margin-top: -3px;
    width: 100%;
  }

  a.albumLink {
    font-family: "Consolas", "Courier", "Liberation Mono", monospace;
  }
}
