.root {
  display: flex;

  > * {
    display: flex;
    flex-direction: column;
    width: 50%;

    &:last-child {
      margin-left: $gutter;
    }
  }
}

.imageContainer {
  margin-bottom: 20px;
}

.infoLine {
  width: 100%;
  display: flex;
  border-top: 1px solid;
  padding: 2px 0 20px;

  .infoTitle {
    @include font-headings;
    width: 40%;
    min-width: 200px;
  }

  .infoContent {
    @include font-info;
    flex-grow: 1;
  }
}

.trackList {
  display: flex;
  align-items: baseline;
  width: 100%;

  .trackNumber {
    font-size: $font-small-caps;
    font-weight: 700;
    margin-right: 10px;
  }

  .trackTitle {
    margin-right: 10px;
  }

  .trackLength {
    margin-left: auto;
  }
}

.description {
  @include font-info;
  font-size: $font-small;
  border-top: 1px solid;
  padding: 20px 0;
  white-space: pre-line;
  vertical-align: bottom;
  line-height: 1rem;
}

.playerContainer {
  margin-top: $gutter;
}

@media all and (max-width: $large-content-width) {
  .root {
    display: block;

    > * {
      width: 100%;

      &:last-child {
        margin-left: 0;
      }
    }
  }
}

@media all and (max-width: $medium-content-width) {
  .infoLine {
    flex-direction: column;

    .infoTitle {
      width: 100%;
    }

    .infoContent {
      width: 100%;
    }
  }
}
